<a href="https://colab.research.google.com/github/ramrajv/Upgrad_Oct21/blob/main/Python%20programming12Feb22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python variables

In [ ]:
x=123
y='shantanu'
print(x,y)

123 shantanu

In [ ]:
x=str(3)
y=int(3)
z=float(3)
print(x,y,z)

3 3 3.0

In [ ]:
# datatype check
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
#Python allows you to assign values to multiple variables in one line
x,y,z='shantanu',3,8.78
print(x)
print(y)
print(z)

shantanu
3
8.78

In [ ]:
# If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.
fruits = ['orange','apple', 'grapes']
fruits=x,y,z
print(x)
print(y)
print(z)

shantanu
3
8.78

In [ ]:
# The Python print statement is often used to output variables.
#To combine both text and a variable, Python uses the + character:
x='awesome'
print('python is ' + x)

python is awesome

In [ ]:
#You can also use the + character to add a variable to another variable:
x='python is '
y='awesome'
z=x+y
z

'python is awesome'

In [ ]:
#Global Variables
#Variables that are created outside of a function (as in all of the examples above) are known as global variables.
#Global variables can be used by everyone, both inside of functions and outside.
x='awesome'
def myfunc():
    print('python is ' + x)
myfunc()

python is awesome

In [ ]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#If you use the global keyword, the variable belongs to the global scope:
def func():
    global x
    x='fancy'
func()
print('dress is ' + x)

dress is fancy

In [ ]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"
def func():
    global x
    x='fancy'
    print(x)
print(x)
func()
print('oh ' + x)

awesome
fancy
oh fancy

# python datatypes

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

In [ ]:
x=5.7
print(type(x))

<class 'float'>

# python  numbers

There are three numeric types in Python:
int
float
complex

In [ ]:
x=2
y=2.2
z=1j
k='make'
print(type(x))
print(type(y))
print(type(z))
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
#Random Number
# Python does not have a random() function to make a random number
# but Python has a built-in module called random that can be used to make random numbers:
import random
print(random.randrange(1,10))

6

In [ ]:
# python casting
#There may be times when you want to specify a type on to a variable. This can be done with casting. 
#Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.
x='123'
print(int(x))
y='12.4'
print(float(y))
z=23
print(str(z))

123
12.4
23

# python strings

In [ ]:
a= 'Hello World'
print(a[1])

e

In [ ]:
# looping through a string
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [ ]:
# string length
a= 'shantanu'
print(len(a))

8

In [ ]:
#Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
#Use it in an if statement:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
#Use it in an if statement:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# string Slicing

In [ ]:
a='Hello world'
print(a[2:5])
print(a[:5])
print(a[:])
print(a[0:])
print(a[:-1])
print(a[-5:-2])
print(a[0:12:2])

llo
Hello
Hello world
Hello world
Hello worl
wor
Hlowrd

# modifying strings

In [ ]:
a='Hello, World'
print(a.upper())
print(a.lower())

HELLO, WORLD
hello, world

In [ ]:
# Remove Whitespace
a='Hello, World!     '
print(a.strip())

Hello, World!

In [ ]:
# replace string
a='Hello, World'
print(a.replace('H','J'))

Jello, World

In [ ]:
#Split String
#The split() method returns a list where the text between the specified separator becomes the list items.
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(','))

['Hello', ' World!']

# String concatenation

In [ ]:
a = 'hello'
b = 'world'
print(a+b)

helloworld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# string format

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like this
#But we can combine strings and numbers by using the format() method!

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# python escape characters

In [ ]:
txt = "We are the so-called "Vikings" from the north."
print(txt)
#You will get an error if you use double quotes inside a string that is surrounded by double quotes
#The escape character allows you to use double quotes when you normally would not be allowed:

SyntaxError: invalid syntax (<ipython-input-145-0e36e074fa4e>, line 1)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Escape Characters
Other escape characters used in Python:
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

# string methods

Python has a set of built-in methods that you can use on strings
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

# python Booleans

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
# One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
#Functions can Return a Boolean
#You can create functions that returns a Boolean Value:
def func():
    return True
func()

True

In [ ]:
def func():
    return True
if func():
    print('Yes')
else:
    print('No')

Yes

In [ ]:
#Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type
x=200
print(isinstance(x,int))

True

# python operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

Python Assignment Operators
Assignment operators are used to assign values to variables:

Operator	Example	Same As
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

Python Comparison Operators
Comparison operators are used to compare two values:

Operator	Name	Example
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

Python Logical Operators
Logical operators are used to combine conditional statements:

Operator	Description	Example	Try it
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)	
Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example	Try it
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y	
Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

Operator	Description	Example	Try it
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y	
Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

Operator	Name	Description
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# python lists

In [ ]:
mylist=['grapes','banana','orange']
mylist

['grapes', 'banana', 'orange']

In [1]:
# list length
mylist=['shan','banana','orange']
print(len(mylist))

3

In [ ]:
mylist=['shan','banana','orange']
print(type(mylist))

<class 'list'>

In [ ]:
createlist = list(('papaya','watermelon','grapes'))
print(createlist)

['papaya', 'watermelon', 'grapes']

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
mylist=['shan','banana','orange']
print(mylist[0])
print(mylist[-1])

shan
orange

In [ ]:
# Check if Item Exists
mylist=['shan','banana','orange']
if'shan' in mylist:
    print('Yes')
else:
    print('No')

Yes

In [ ]:
mylist=['shan','banana','orange']
mylist[1]='krish'
print(mylist)

['shan', 'krish', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
#Insert Items
mylist =['apple', 'blackcurrant', 'watermelon', 'cherry']
mylist.insert(2,'papaya')
print(mylist)

['apple', 'blackcurrant', 'papaya', 'watermelon', 'cherry']

# Append Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append('papaya')
print(thislist)

['apple', 'banana', 'cherry', 'papaya']

In [ ]:
# extend list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# remove element
mylist =['apple', 'blackcurrant', 'watermelon', 'cherry']
mylist.remove('apple')
print(mylist)

['blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Remove Specified Index
mylist =['apple', 'blackcurrant', 'watermelon', 'cherry']
mylist.pop(1)
print(mylist)

['apple', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [ ]:
# clear the list
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# loop list

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [ ]:
# Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range (len(thislist)):
    print(thislist[i])

apple
banana
cherry

# while loop

In [ ]:
thislist = ["apple", "banana", "cherry"]
i=0
while i<len(thislist):
    print(thislist[i])
    i+=1

apple
banana
cherry

# Looping Using List Comprehension

In [ ]:
thislist = ["apple", "banana", "cherry"]
res=[x for x in thislist]
res

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# List Comprehension

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for i in fruits:
    newlist.append(i)
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if 'a' in x]
newlist

['apple', 'banana', 'mango']

# The Syntax
#newlist = [expression for item in iterable if condition == True]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
res = [i for i in fruits if i!='apple']
res

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
#Set the values in the new list to upper case:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
# Return "orange" instead of "banana":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [ x if x!='banana' else 'orange' for x in fruits ]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# sort list

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#Sort Descending
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits.sort(reverse=True)
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [ ]:
# case sensitity in sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
#Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# copy list

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
mylist=thislist.copy()
mylist

['banana', 'Orange', 'Kiwi', 'cherry']

In [ ]:
# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# join list

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# use 'extend' to join list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# list methods

List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

# Tuples

In [ ]:
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

In [ ]:
# tuples allows duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# len
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

5

In [ ]:
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#Tuple Items - Data Types
x=("apple", "banana", "cherry", "apple", "cherry")
z=(2,3,4,6)
y=(True, False, False)
print(x)
print(z)
print(y)

('apple', 'banana', 'cherry', 'apple', 'cherry')
(2, 3, 4, 6)
(True, False, False)

In [ ]:
#A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [ ]:
# type
x=("apple", "banana", "cherry", "apple", "cherry")
print(type(x))

<class 'tuple'>

In [ ]:
#The tuple() Constructor
#It is also possible to use the tuple() constructor to make a tuple.
x=tuple(("apple", "banana", "cherry", "apple", "cherry"))
print(x)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# tuple slicing or accessing tuple items

In [ ]:
x=("apple", "banana", "cherry", "apple", "cherry")
print(x[1])

banana

In [ ]:
print(x[-1])

cherry

In [ ]:
x=tuple(("apple", "banana", "cherry", "apple", "cherry"))
print(x[2:5])

('cherry', 'apple', 'cherry')

In [ ]:
#Check if Item Exists
x=("apple", "banana", "cherry", "apple", "cherry")
if 'apple' in x:
    print('Yes')
else:
    print('No')

Yes

In [ ]:
# changing tuples values, since tuple is immutable first we change it into list
x=("apple", "banana", "cherry", "apple", "cherry")
y=list(x)
y[1]='papaya'
x=tuple(y)
print(x)

('apple', 'papaya', 'cherry', 'apple', 'cherry')

In [ ]:
# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# remove items
x=("apple", "banana", "cherry", "apple", "cherry")
y=list(x)
y.remove('apple')
x=tuple(y)
print(x)

('banana', 'cherry', 'apple', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

In [ ]:
# unpack tuples
# in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
##Using Asterisk*
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
#Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
# loop tuples
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in fruits:
    print(i)

apple
banana
cherry
strawberry
raspberry

In [ ]:
#Loop Through the Index Numbers
#You can also loop through the tuple items by referring to their index number.
#Use the range() and len() functions to create a suitable iterable.
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
strawberry
raspberry

In [ ]:
# while loop in tuples
#You can loop through the list items by using a while loop.
#Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.
#Remember to increase the index by 1 after each iteration.
#Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
# join tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

# Python Sets

In [ ]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

In [ ]:
#Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(len(myset))

3

In [ ]:
# Set Items - Data Types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
# type check
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
# the set() constructor
x=set(('apple','papaya','carrot'))
x

{'apple', 'carrot', 'papaya'}

In [ ]:
# Access Set Items
myset = {"apple", "banana", "cherry"}
for i in myset:
    print(i)

banana
cherry
apple

In [ ]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [ ]:
# add items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [ ]:
#To add items from another set into the current set, use the update() method.
#Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'pineapple', 'cherry', 'mango', 'apple', 'papaya'}

In [ ]:
#Add Any Iterable
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
#Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'banana', 'cherry', 'apple', 'kiwi'}

#  Remove Set Items

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
# also uses discard
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana") # Note: If the item to remove does not exist, discard() will NOT raise an error.
print(thisset)

{'cherry', 'apple'}

In [ ]:
#remove last item by using pop
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [ ]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset) # throws error bcz set is deleted

NameError: name 'thisset' is not defined

# loop sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    print(i)

banana
cherry
apple

# join sets

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
#Keep ONLY the Duplicates
#The intersection_update() method will keep only the items that are present in both sets.
#Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
# Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [ ]:
#Keep All, But NOT the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'cherry', 'microsoft'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'cherry', 'microsoft'}

Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

# python dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Dictionary Items
#Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
#Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# len
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(len(thisdict))

3

In [ ]:
# type()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(type(thisdict))

<class 'dict'>

# Access Dictionary Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
# Get the value of the "model" key:
x = thisdict.get("model")
print(x)

Mustang

In [ ]:
# Get Keys
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
# get values
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
#Get Items
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
# Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

#Check if Key Exists

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

# change dictionary items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['year']=2022
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [ ]:
# update dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2022})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# remove items from dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# remove last item by using popitem()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [ ]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# loop dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

brand
model
year

In [ ]:
# use the values() method to return values of a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
#Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
#Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# nested dictionary

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# if...Else

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

# Elif

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# Short Hand If

In [4]:
if a > b: print("a is greater than b")

a is greater than b

In [5]:
# Short hand IF...Else
a = 2
b = 330
print("A") if a > b else print("B")

B

In [6]:
#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

# And

In [ ]:
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested If

In [ ]:
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# Pass statement

In [ ]:
a = 33
b = 200
if b > a:
  pass    # having an empty if statement like this, would raise an error without the pass statement

# While Loops

Python has two primitive loop commands:

while loops
for loops

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# break statement
i=0
while i<=6:
    print(i)
    if i==3:
        break
    i+=1

0
1
2
3

In [ ]:
# continue statement
# Continue to the next iteration if i is 3
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# the else statement
# Print a message once the condition is false:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
#Looping Through a String
#Even strings are iterable objects, they contain a sequence of characters:
for x in "banana":
  print(x)

b
a
n
a
n
a

break statement in for loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

Continue statement in for loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The range function()

In [ ]:
# Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Else in for loop

In [ ]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
# Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

nested Loops

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##pass statement

In [ ]:
for x in [0, 1, 2]:
  pass     # Note : having an empty for loop like this, would raise an error without the pass statement

# Functions

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
#this function expects 2 arguments, and gets 2 arguments:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Eren", "Eger")

Eren Eger

In [ ]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Eren", "Tobias", "Linus")

The youngest child is Linus

###keyword argument

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
# If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

###default parameter

In [ ]:
# The following example shows how to use a default parameter value.
# If we call the function without argument, it uses the default value:

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

#### Passing a List as an Argument

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Return values

In [ ]:
#To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Pass statement
def myfunc():
    pass

## recursion

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python lambda

Syntax
lambda arguments : expression

In [ ]:
#Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

In [ ]:
#Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
#Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def myfunc(n):
  return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Arrays

Array Methods
Python has a set of built-in methods that you can use on lists/arrays.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

# map, reduce, filter

In [7]:
num = [1,2,4,5,9,7]
even=list(filter(lambda n:n%2==0, num))
even

[2, 4]

In [8]:
doubles = list(map(lambda n:n*2, num))
doubles

[2, 4, 8, 10, 18, 14]

In [9]:
from functools import reduce
sum = reduce(lambda a,b: a+b, num)
sum

28

### Sorting a dictionary

In [20]:
# define a dictionary with keys as number and values as alphabets

x = { 2:'b', 1:'d', 4:'a', 3:'c'}

In [21]:
# print dictionary
x

{1: 'd', 2: 'b', 3: 'c', 4: 'a'}

In [22]:
# by default sort is on keys, it returns a sorted list of keys

sorted(x)

[1, 2, 3, 4]

In [23]:
# sort on values, it returns a sorted list of values

sorted(x.values())

['a', 'b', 'c', 'd']

In [24]:
# sort on key,value pair, this time sorting on keys 

sorted(x.items(), key=lambda x : x[0])

[(1, 'd'), (2, 'b'), (3, 'c'), (4, 'a')]

In [25]:
# sort on key,value pair, this time sorting on dictionary key
# and return the dictionary using dictionary comprehension

{a:b for a,b in sorted(x.items(), key=lambda x : x[0])}

{1: 'd', 2: 'b', 3: 'c', 4: 'a'}

In [26]:
# sort on key,value pair, this time sorting on dictionary values
# and return the dictionary using dictionary comprehension

{a:b for a,b in sorted(x.items(), key=lambda x : x[1])}

{1: 'd', 2: 'b', 3: 'c', 4: 'a'}

### use of counter to count letters

In [27]:

from collections import Counter

# count letters in following string
s = "abbbbcedddd"


Counter(s)

Counter({'a': 1, 'b': 4, 'c': 1, 'd': 4, 'e': 1})

In [28]:
# now above can be sorted anyway we desire
d = dict(Counter(s))
{a:b for a,b in sorted(x.items(), key=lambda x : x[1])}

{1: 'd', 2: 'b', 3: 'c', 4: 'a'}

In [29]:

{a:b for a,b in sorted(x.items(), key=lambda x : x[0])}

{1: 'd', 2: 'b', 3: 'c', 4: 'a'}